html{
    min-height:100%;
    position:relative;
}

body{
    height:100%;
}

body {
    background-image: url("/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0E1D62;
    }
    
#messagesWrap {
	display: flex;
	flex-direction: column-reverse;	
    position:absolute;
    top:30px;
    bottom:150px;
    left:30px;
    right:30px;					
	overflow-y: scroll;	

}

#messages {
	display: table;
	min-height: 100%;
}

.messageBlock {
	display: table;
	position: relative;
	padding: 20px;
	padding-right: 200px;
	margin-bottom: 20px;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;			
}
		
.messageBlock .userName {
	color: #80AA63;
}

.messageBlock[data-color="1"] .userName {
	color: #F0716E; 
}

.messageBlock[data-color="2"] .userName {
	color: #62C1CC; 
}

.messageBlock[data-color="3"] .userName {
	color: #E9B46F; 
}



.messageBlock .avatar {
	position: absolute;
	right: 15px;
	bottom: -7px;
	width: 35px;
	}
	

	#controlBox {
		position: absolute;
		left:0;
		right:0;
		bottom: 0;
		padding:20px;
		background: rgba(0, 0, 0, 0.7);
	}
	
	#controlBox input[type="text"] {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #FFFFFF;	
	min-width: 300px;		
	}
	
	#toolBox {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}

	#toolBox .button {
		display: inline-block;
		width:15px;
		height: 15px;
		margin-left: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
	}

	#toolBox .button.inactive {
	opacity: 0.3;
}

	#toolBox .button.rooms {
    background-image: url("/img/toolbox-rooms.png");
	}

	#toolBox .button.status {
    background-image: url("/img/toolbox-status.png");
	}

	#toolBox .button.settings {
    background-image: url("/img/toolbox-settings.png");
	}